<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <title>Learning Vue</title>
    </head>
    <body>
        <h1>Hello Vue</h1>

        <div id="app">
            <button @click="toggleShowBooks">
                <span v-if="isVisible">Hide Books</span>
                <!-- <span v-if="!isVisible">Show Books</span> -->
                <span v-else>Show Books</span>
            </button>

            <div v-if="isVisible">
                <p>{{ title }} - {{ author }} - {{ age }}</p>
            </div>

            <div v-show="isVisible">Currently Showing Books</div>
        </div>


        <script src="app.js"></script>
    </body>
</html>
